<h2 class=" text-center text-4xl lg:text-5xl font-light text-gray-900 mb-6 leading-tight">
  ¿Te queda alguna duda?
</h2>

<div class="w-[70%] mx-auto space-y-3 py-10">

  <!-- FAQ 1 -->
  <div data-aos="fade-right" tabindex="0"
    class=" collapse collapse-plus bg-white p-1 rounded-md border border-[var(--color-secondary)]">
    <div class="collapse-title font-medium ">
      ¿Qué es Facturemos y cómo funciona?
    </div>
    <div class="collapse-content ">
      Facturemos es un sistema de facturación inteligente que utiliza IA para simplificar la creación de facturas.
      Solo necesitas describir lo que quieres facturar y el sistema genera automáticamente documentos profesionales
      con todos los datos fiscales necesarios.
    </div>
  </div>

  <!-- FAQ 2 -->
  <div data-aos="fade-left" tabindex="0"
    class="collapse collapse-plus bg-white p-1 rounded-md border border-[var(--color-secondary)]">
    <div class="collapse-title font-medium">
      ¿Para qué debería usar Facturemos?
    </div>
    <div class="collapse-content ">
      Facturemos es ideal para autónomos, pequeñas empresas y profesionales que necesitan crear facturas de forma rápida
      y profesional. Te ayuda a ahorrar tiempo, reducir errores y mantener tu contabilidad organizada.
    </div>
  </div>

  <!-- FAQ 3 -->
  <div data-aos="fade-right" tabindex="0"
    class="collapse collapse-plus bg-white border border-[var(--color-secondary)] p-1 text-sm rounded-md">
    <div class="collapse-title font-medium text-sm">
      ¿Cuánto cuesta utilizarlo?
    </div>
    <div class="collapse-content ">
      Ofrecemos un plan gratuito para comenzar y planes premium desde €9/mes. Todos los planes incluyen facturación
      ilimitada, soporte técnico y cumplimiento fiscal automático. Sin permanencia ni costes ocultos.
    </div>
  </div>

</div>
