<div class="relative">
  <!-- Hero Section -->
  <div class="bg-[var(--color-secondary)] pt-20">
    <div class="container mx-auto">
      <app-hero-precios></app-hero-precios>
    </div>
  </div>

  <!-- Tab Navigation -->
  <div class="sticky top-0 z-40 w-full ">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-center -mb-px">
        <div class="flex space-x-1 px-4">
          <button *ngFor="let tab of tabs" (click)="setActiveTab(tab.id)"
            [class]="activeTab() === tab.id ? 'bg-[var(--color-secondary)] text-white rounded-b-lg' : 'text-[var(--color-neutral)] hover:bg-[var(--color-base-200)] rounded-b-lg '"
            class="px-8 py-3 text-sm font-medium transition-all duration-200 relative ">
            {{ tab.label }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tab Content -->
<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <div class="max-w-4xl mx-auto overflow-hidden">
    <!-- Autónomos -->
    <div class="p-6" *ngIf="activeTab() === 'autonomo'">
      <app-autonomo-precio></app-autonomo-precio>
      <app-tabla-precios class="mt-8"></app-tabla-precios>
    </div>

    <!-- PYMES -->
    <div class="p-6" *ngIf="activeTab() === 'pymes'">
      <app-pyme-precio></app-pyme-precio>
    </div>

    <!-- Contabilidad -->
    <div class="p-6" *ngIf="activeTab() === 'contabilidad'">
      <app-contabilidad-precio></app-contabilidad-precio>
    </div>
  </div>
</div>