<div class="w-full h-full flex flex-col justify-center p-6">
  <!-- Logo arriba -->
  <div class="flex items-center mb-4 w-full justify-start">
    <img src="assets/images/logonombre.svg" alt="Facturemos Logo" class="h-35 w-35 flex justify-center" />
    <span class="text-2xl font-semibold text-gray-900">Facturemos</span>
  </div>

  <!-- Contenido principal -->
  <div class="max-w-lg">
    <!-- Encabezado -->
    <div class="mb-5 ">
      <!-- text-[var(--color-blue-950)] -->
      <h1 class="text-6xl font-light text-gray-900 leading-tight mb-6">
        Tus facturas,<br />
        simplificadas
      </h1>
      <p class="text-lg text-gray-600 leading-relaxed">
        Un sistema que prioriza la simplicidad y te permite facturar con total
        facilidad.
      </p>
    </div>

    <!-- Formulario -->
    <div class="space-y-4 mb-8">


      <div class="flex w-full flex-col">

        <!-- Botón Google -->
        <button class="btn bg-white text-black border-[#e5e5e5]">
          <svg aria-label="Google logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <g>
              <path d="m0 0H512V512H0" fill="#fff"></path>
              <path fill="#34a853" d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"></path>
              <path fill="#4285f4" d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"></path>
              <path fill="#fbbc02" d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"></path>
              <path fill="#ea4335" d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"></path>
            </g>
          </svg>
          Login with Google
        </button>

        <div class="divider">O</div>

        <!-- Input email -->
        <input type="email" placeholder="Introduce tu correo personal"
          class="w-full px-5 py-2 mb-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[var(--color-primary)] focus:border-transparent text-gray-700 transition-all duration-200" />
        <!-- Botón email -->
        <button
          class="w-full bg-gray-900 text-white px-5 py-3 rounded-lg hover:bg-gray-800 hover:scale-[1.02] transition-all duration-200 font-medium">
          Continuar con correo electrónico
        </button>

        <!-- Política de privacidad -->
        <p class="text-sm text-gray-500 text-center leading-relaxed">
          Al continuar, reconoces la
          <a href="#" class="underline hover:text-[rgb(59,130,246)] transition-colors duration-200">
            Política de Privacidad
          </a>
          de Facturemos.
        </p>

      </div>


    </div>
  </div>

  <!-- Botón más info -->
  <!-- <div class="mt-auto">
    <button
      class="flex items-center space-x-2 text-gray-600 hover:text-gray-800 transition-colors bg-gray-200 hover:bg-gray-300 px-6 py-3 rounded-full hover:scale-105 transition-all duration-200 group">
      <span>Más información</span>
      <svg class="w-4 h-4 transform group-hover:translate-y-1 transition-transform duration-200" fill="none"
        stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </button>
  </div> -->
</div>