/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@import "aos/dist/aos.css";

/* Establecer la fuente para toda la aplicación */
html,
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/* @plugin "daisyui" {
  themes: light --default, forest --prefersdark, corporate;
  } */
@plugin "daisyui";

@plugin "daisyui/theme" {
  /* Color turquesa  */
  --color-turquesa-claro: #00CB87;

  /* Color amarillo */
  --color-amarillo-claro: #F4FF0F;


  name: "mytheme";
  default: true;
  /* set as default */
  prefersdark: false;
  /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light;
  /* color of browser-provided UI */

  --color-base-100: #f5f5ff;
  --color-base-200: oklch(95% 0.03 240);
  --color-base-300: oklch(92% 0.04 240);
  --color-base-content: oklch(20% 0.05 240);

  --color-primary: #3f0fff;
  --color-primary-content: #ffffff;

  --color-secondary: var(--color-turquesa-claro);
  --color-secondary-content: #4a4080;

  --color-accent: #F4FF0F;
  --color-accent-content: var(--color-amarillo-claro);

  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);

  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: #ff5470;
  --color-error-content: #ffffff;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
  /* Color blue */
  --color-blue-50: #f0f0ff;
  --color-blue-100: #e5e4ff;
  --color-blue-200: #cecdff;
  --color-blue-300: #aaa6ff;
  --color-blue-400: #8073ff;
  --color-blue-500: #593bff;
  --color-blue-600: #4514ff;
  --color-blue-700: #3f0fff;
  /* Primary color */
  --color-blue-800: #2c01d6;
  --color-blue-900: #2503af;
  --color-blue-950: #120077;



}

@keyframes gentle-move {

  0%,
  100% {
    transform: translateY(-5px);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translateY(5px);
    animation-timing-function: ease-in-out;
  }
}

html {
  scroll-behavior: smooth;
}